*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 43.75rem;
    height: 18.75rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.125rem;
}

.img-container{
    width: 80%;
    position: relative;
}

.img-container h3{
    position: absolute;
    right: .9375rem;
    bottom: 3.75rem;
    color: white;
}

.img-container p{
    position: absolute;
    right: .9375rem;
    top: 80%;
    left: 2.5rem;
    color: white;
}

#sub-image-container{
    width: 20%;
    height: 100%;
    position: relative;
}

#sub-image-container img{
    width: 100%;
    height: calc(300px/5);
    object-fit: cover;
    display: block;
}

.img-container img{
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
}

.inactive-img{
    filter: grayscale(100%);
}

.active-img{
    filter: none;
}

.arrow{
    position: absolute;
    height: 1.875rem;
    width: 1.875rem;
    background-color: rgba(255, 255, 255, 0.7);
    line-height: 1.875rem;
    text-align: center;
    border-radius: 50%;
    left: calc(50% - .9375rem);
    cursor: pointer;
}

#arrow-up{
    top: .625rem;
    z-index: 999;
}

#arrow-down{
    bottom: .625rem;
    z-index: 999;
}

.slide{
    display: none;
}

.active{
    display: block;
}